@import "bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4e73df, #1cc88a);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
}

#excuse {
  font-size: 22px;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
}